# Rainbow Trout Genome Exploration
This study demonstrates a new method for determining the sex of rainbow trout using genetic information and machine learning.

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

%autosave 30

Autosaving every 30 seconds

## Data
The information regarding the data in the paper mentions that the first column is the target column, indication of the gender of the rainbow trout fish.
* Male : 0
* Female : 1

The remaining columns are the SNPs of the rainbow trout.

The error rates in the data, are the missing SNP genotypes (coded by 5).

In [2]:
print("Available Data:")
os.listdir("./data")

Available Data:

['sim_random.dat', 'sim_5.dat', 'sim_real.dat', 'sim_50.dat']

In [3]:
dataPath = "./data/sim_5.dat"

data = pd.read_csv(dataPath, header = None, sep=',')
print(f"Shape of data: {data.shape}")
data.head()

Shape of data: (14010, 16)

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   1   2   2   2   2   2   2   2   2   2   2   1   1   2   2   2
1   0   1   5   1   1   2   1   1   1   1   1   1   1   5   1   1
2   1   5   2   2   2   2   2   2   1   2   2   2   2   2   2   2
3   1   5   2   2   2   2   2   2   2   2   2   2   2   2   2   2
4   1   2   2   2   2   2   2   2   2   2   1   2   2   2   5   2

In [15]:
data[0]

0        1
1        0
2        1
3        1
4        1
        ..
14005    1
14006    1
14007    0
14008    1
14009    1
Name: 0, Length: 14010, dtype: int64