# Indentifying Stress Factors in Rainbow Trouts

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()
from tqdm import tqdm

## Data
Performed basic clean up.

In [104]:
%%time
dataPath = './data/TPM_stress_RedTrout.xlsx'

data = pd.read_excel(dataPath, nrows = 100)

colsTemp = ['idx']+['CTRL']*(data.shape[1]//2)+['HEAT']*(data.shape[1]//2)

data.columns = colsTemp
data.iloc[0,0] = 'DAY'

data = data.set_index("idx").T.reset_index(drop=False, names = 'GeneExp')#.set_index("DAY", append=True)

print(data.shape)

(72, 101)
CPU times: user 735 ms, sys: 7.6 ms, total: 743 ms
Wall time: 743 ms

In [105]:
data.head()

idx,GeneExp,DAY,4ebp2,5ntc,aacs,aadac,aadacl4,aagab,aakb1_1,aakb1_2,...,abcg2b_4,abcg4a_1,abcg4a_2,abcg5,abcg8_1,abcg8_2,abhd10a,abhd10b,abhd11_1,abhd11_2
0,CTRL,Day 7,20.392085,5.01189,2.244453,0.783542,0.474814,1.52711,32.438119,0,...,0,0.446311,0.533473,0.972861,0.485892,0.485892,1.244736,2.407709,0.652472,0.81559
1,CTRL,Day 1,27.289734,7.310938,2.958239,1.270043,0.841218,3.128293,43.348779,0,...,0,0.691881,0.365169,0.375656,0.226538,0.385115,0.287645,2.040113,0.953677,0.83808
2,CTRL,Day 7,24.278669,6.795036,2.367945,0.872521,0.780329,1.737497,37.117946,0,...,0,1.131967,0.055179,0.823072,0.785603,0.698314,0.738898,2.679861,0.705244,0.96507
3,CTRL,Day 3,20.71429,10.404623,2.90694,1.307162,0.486661,3.026489,28.212887,0,...,0,2.587437,0.354167,0.57527,0.255561,0.216244,1.04005,2.454374,1.178676,1.203754
4,CTRL,Day 1,23.821724,6.310578,2.060801,1.290215,1.001488,2.70031,35.728362,0,...,0,1.018308,0.230157,1.074557,0.690843,0.616157,0.908801,1.910767,0.738389,0.881303

In [106]:
data.groupby(['GeneExp','DAY']).mean()

idx                 4ebp2      5ntc      aacs     aadac   aadacl4     aagab  \
GeneExp DAY
CTRL    Day 1   23.988963  6.649193  2.743176   1.42256  0.831154   2.44779
        Day 28   20.98674   6.70786  3.666843  3.226702  2.633585  3.784658
        Day 3   20.728252  5.598291  2.278286  1.258414  0.618164   2.41489
        Day 7   22.401635  5.411027  2.208981  1.257053   0.61616  2.121508
HEAT    Day 1   15.156847  6.011973  2.715426  1.344798  0.894721  2.204399
        Day 28  23.872175  4.363281  4.056534  2.722479  2.896642  3.210366
        Day 3   25.324825  3.356996  2.150928  0.967521  0.308134  2.162818
        Day 7   26.806386   4.59414  3.527078  2.099082  1.415532   2.64552

idx               aakb1_1 aakb1_2 aakb1_3 aakb1_4  ... abcg2b_4  abcg4a_1  \
GeneExp DAY                                        ...
CTRL    Day 1   31.976836     0.0     0.0     0.0  ...      0.0  0.851713
        Day 28  22.885776     0.0     0.0     0.0  ...      0.0  0.787979
        Day 3   37.515633     0.0     0.0     0.0  ...      0.0  0.795323
        Day 7   34.870403     0.0     0.0     0.0  ...      0.0  0.693923
HEAT    Day 1    14.07099     0.0     0.0     0.0  ...      0.0  0.578758
        Day 28  23.349669     0.0     0.0     0.0  ...      0.0  0.355181
        Day 3   21.873905     0.0     0.0     0.0  ...      0.0  0.206124
        Day 7   24.269232     0.0     0.0     0.0  ...      0.0  0.395211

idx             abcg4a_2     abcg5   abcg8_1   abcg8_2   abhd10a   abhd10b  \
GeneExp DAY
CTRL    Day 1   0.439093  0.948411  0.556466  0.653825  0.616575  2.579606
        Day 28  2.684089  3.014481   2.12046  2.183198  1.843555  4.058313
        Day 3   0.628076  2.800401  1.990826  2.123532  0.671871   2.56259
        Day 7   0.416518  1.175615   0.76938  0.758942  0.993738  2.779365
HEAT    Day 1   1.071289    0.9602  0.879866  0.755609  0.678076  2.043394
        Day 28  2.900356  2.564529  1.316445  1.410615  1.868223  3.645605
        Day 3    0.50079  1.550012  0.665456  0.703953  0.862509  2.067299
        Day 7   1.660998  1.803815   1.01765  0.998734  1.756488  3.155628

idx             abhd11_1  abhd11_2
GeneExp DAY
CTRL    Day 1   0.914269  1.002327
        Day 28  1.535006  1.697474
        Day 3   0.835014  0.859508
        Day 7   0.725046  0.776008
HEAT    Day 1   0.773104  0.706272
        Day 28  1.218979  1.414288
        Day 3   0.654236  0.771111
        Day 7   0.973148  1.091892

[8 rows x 99 columns]